
body {
	background-color: #ebe9db;
	margin: 0;
	padding: 0;
	height: 2500px;
	width: 100%;
	color: #ebe9db;
}

h1{
	margin: 0;
	padding:0;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 1.25em;
}

header {
	margin: 0;
	padding: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #ebe9db;
	text-align: center;
	top:0;
	left:0;
		-webkit-transition: all .75s;
	    -moz-transition: all .75s;
	    -ms-transition: all .75s;
    transition: all .75s; 
}

header img{
	width: 80%;
	max-width: 500px;
	transform: translateY(60%);
		-webkit-transition: all .75s;
	    -moz-transition: all .75s;
	    -ms-transition: all .75s;
    transition: all .75s;
}

.small {
	height: 100px;
	z-index: 99;
}

.small img{
	margin-top: -25px;
	width: 150px;
	-webkit-filter: brightness(160%); 
    filter: brightness(160%);
}

#filler {
	position:fixed;
	top:0px;
	width:100%;
	height: 0px;
	z-index: 50;
	background-color: #ebe9db;
		-webkit-transition: all .75s;
	    -moz-transition: all .75s;
	    -ms-transition: all .75s;
    transition: all .75s;
}

.fillAbout{
	background-color: #ba950a !important;
}

.fillSkills{
	background-color: #fa7572 !important;
	height:30px !important;
}

.fillExperience{
	background-color: #6bb7a3 !important;
	height:60px !important;
}

.fillContact{
	background-color: #252a47 !important;
	height:90px !important;
}


.headAbout{
	background-color: #ba950a;
}

.headSkills{
	background-color: #fa7572;
	top:30px;
	z-index: 1000;
}

.headExperi{
	background-color: #6bb7a3;
	top:60px;
	z-index: 1000;
}

.headContact{
	background-color: #252a47;
	top:90px;
	z-index: 1000;
}


.sect{
	position: fixed;
	height: 30px;
	width: 100%;
	z-index:101;
		-webkit-transition: color .75s;
	    -moz-transition:, color .75s;
	    -ms-transition: color .75s;
    transition: color .75s; 
	
}

#about{
	bottom:90px;
	z-index:200;
	background-color: #ba950a;

} 

#skills{
	bottom:60px;
	z-index:199;
	background-color:#fa7572;

}
#experience{
	bottom: 30px;
	z-index:198;
	background-color:#6bb7a3;

}
#contact{
	bottom:0px;
	z-index:197;
	background-color:#252a47;

}

 .big{
	height: 10px;
	width: 100%;
	position:fixed;
	font-size: 0em;
		-webkit-transition: height .75s, color .75s, font-size .75s;
	    -moz-transition: height .75s, color .75s, font-size .75s;
	    -ms-transition: height .75s, color.75s ,font-size .75s;
    transition: height .75s, color.75s, font-size .75s; 
} 


.aboutBig{
	bottom: 90px;
	color: #ba950a !important;
}

.skillBig{
	color: #fa7572 !important;
}

.experiBig{
	color: #6bb7a3 !important;
	
}

.contactBig{
	color: #252a47 !important;
}

.aboutBig{
	color: #ba950a !important;
}


.aboutDone{
	top: 0px !important;
	background-color: #ba950a;
}

.skillDone{
	top: 30px !important;
	background-color: #fa7572;

}

.experiDone{
	top: 60px !important;
	background-color: #6bb7a3;

}